

.list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.list-image-container {
    display: inline-block;
    position: relative;
}

.listing {
    display: inline-block;
    position: relative;
}

.listing-header {
    display: block;
}

.listing-description {
    display: block;
}

.listing-image {
    border-radius: 10px;
    max-width: 200px;
}

.edit {
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: aliceblue;
}

.edit:hover {
    cursor: grab;
}
